@{
    ViewData["Title"] = "Calculator";
}

<h2>Simple Calculator</h2>

<form method="post" action="~/Home/HandleIndex">
    <label>Number 1:</label>
    <input type="number" name="number1" required />

    <label>Number 2:</label>
    <input type="number" name="number2" required />

    <br><br>

    <button type="submit" name="operation" value="+">+</button>
    <button type="submit" name="operation" value="-">-</button>
    <button type="submit" name="operation" value="*">*</button>
    <button type="submit" name="operation" value="/">/</button>
</form>


    <p><strong>@TempData["Result"]</strong></p>

